@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    color: white;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.primario{
    background:
    linear-gradient(
      rgba(0,0,0,.3),rgba(0,0,0,.3)
    ),
    url(../img/parte1.png) no-repeat;
    background-size: cover;
    height: 1024px;
}

.menu  li {
    display: inline-block;
   align-items: center;
   width: 300px;
   text-align: center;
   margin-top: 40px ;

}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.linha{
    width: 60px;
    margin-left: 120px;
    height: 2px;
    margin-top: 5px;
}

.titulo1{
    text-align: center;
    margin-top: 209px;
    font-size: 80px;
}

.paragrafo1{
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins';
font-style: normal;
}

.botao{
    margin-top: 369px;
    align-items: center;
    text-align: center;
    color: #00B43D;

}

.botao1{
    background-color: #00B43D;
    height: 50px;
    width: 191px;
    border-radius: 8px;
    border: 2px solid white;
    font-size: 18px;
}

.parte2{
    height: 1024px;
    background:
    linear-gradient(
      rgba(0,0,0,.3),rgba(0,0,0,.3)
    ),
    url(../img/parte2.png) no-repeat;
    background-size: cover;
}

.titulo h2{
    text-align: center;
    padding-top: 140px;
    font-size: 40px;
}

.imagens{
    justify-content: space-around;
    display:flex;
    align-items: center;
}

 .quadrado{
    margin-top: 54px;
    border: solid #585858 20px;
    background-color: #585858;
    width: 320px;
    height: 586px;
    left: 44px;
 }

 .paragrafo2{
    margin-top: 6px;
    font-size: 16px;
 }

 h3{
    margin-top: 17px;
    font-size: 22px;
}

.botao2{
    float: right;
    margin-top: 32px;
}

.botao2 button{
    background-color: #4E4E4E;
    border: solid #4E4E4E 4px;
    border-radius: 5px;
    font-size: 12px;
}

.botao3{
    float: right;
    margin-top: 32px;
}

.botao3 button{
    background-color: #11000073;
    ;
    border: solid #11000073 4px;
    border-radius: 5px;
    font-size: 12px;
}

.parte3{
    height: 1024px;
    background:
    linear-gradient(
      rgba(0,0,0,.3),rgba(0,0,0,.3)
    ),
    url(../img/parte3.png) no-repeat;
    background-size: cover;
    padding-left: 228px;
   
}

.titulo-parte3{
    font-size: 48px;
    padding-top: 240px;
}

.paragrafo3{
    font-size: 30px;
    width: 1205px;
    margin-top: 64px;
}